#pagination
  .pagination
    position: relative
    margin-top: 20px
    text-align: center

  .page-number
    &.current
      background: $button-bg
      color: var(--white)

  .pagination-info
    position: absolute
    top: 50%
    padding: 20px 40px
    width: 100%
    transform: translate(0, -50%)

  .prev_info,
  .next_info
    @extend .limit-one-line
    color: var(--font-color)
    font-weight: 500

  .next-post
    .pagination-info
      text-align: right

  .pull-full
    width: 100% !important

  .prev-post .label,
  .next-post .label
    color: var(--font-color)
    text-transform: uppercase
    font-size: 90%

  .prev-post,
  .next-post
    @extend .postImgHover
    width: 50%

    +maxWidth768()
      width: 100%

    a
      position: relative
      display: block
      overflow: hidden
      height: 150px

  &.pagination-post
    overflow: hidden
    margin-top: 40px
    width: 100%
    background: $dark-black

.layout
  & > .recent-posts
    .pagination
      & > *:not(.space)
        @extend .cardHover

  & > div
    .pagination
      & > *:not(.space)
        border: 1px solid #e3e8f7

        &:hover
          background: var(--btn-bg)
          color: white !important

      & > *
        display: inline-block
        margin: 0 6px
        width: w = 2.5em
        height: w
        line-height: w
        color: var(--font-color)
        box-shadow: none !important
        border-radius: 8px;
        text-align: center
        cursor: pointer

        @media screen and (max-width: 768px)
          margin: 0 3px

      .next,.prev
        width: 4rem !important
        position: absolute
        right: 0

        @media screen and (max-width: 768px)
          width: 2.5rem !important
          position:relative

      .prev
        left: 0
